#container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
   border: 1px solid gray;
  }
  
  #containerBtn {
    display: flex;
    justify-content: center;
  }
  .myDivX {
    border-style: solid;
    border-color: black;
    border-width: 1px;
  }
  
  h1{
    text-align: center;
  }

  button{
    align-self: center;
    align-items: center;
    text-align: center;
  }

